*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    font-family: 'Playfair Display', serif;
    color:black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: white;
    padding: 0 40px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-navbar{
    display: none;
    font-family: 'Playfair Display', serif;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16);
    background-color: white;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.hamburger-icon{
    display: inline-block;
}
.hamburger-icon svg path{
    stroke: rgb(0, 0, 0);
    fill: rgb(0, 0, 0);
}
.mobile-navbar .navbar-home{
    display: flex;
    justify-content: center;
    align-self: center;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    width: fit-content;
    padding: 0;
}
.sidebar{
    margin: 0;
    height: 100vh;
    width: 100vw;
    top:0;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: #457A00;
    z-index: 6;
    color: white;
    padding-left: 20px;
    right: -100vw;
}
.sidebar svg{
    fill: white;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
}
.sidebar-heading{
    font-size: 20px;
}
.sidebar-contact{
    font-size: 22px;
}
.sidebar-contact p {
    margin: 20px 0;
}
.sidebar-navs{
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 40px;
}
.sidebar-contact .social-media{
    justify-content: space-between;
}
.navbar .navbar-home{
    display: flex;
    justify-content: center;
    align-self: center;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
}
.navbar-navs{
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin: 20px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.navbar-logo{
    opacity: 1;
    height: 30px;
    margin-right: 8px;
}
.active{
    border-bottom: solid 2px black;
    margin-bottom: -2px;
    padding-bottom: 5px;
}
.our-products{
    margin-top: 100px;
    text-align: center;
    padding: 50px;
}
.title-grid{
    display: flex;
    margin-bottom: 50px;
}
.product-heading{
    width: 50%;
    padding:40px 0;
    text-align: center;
    border-right: 2px solid #0B4737;
}
.product-heading h1{
    margin: auto;
}
.product-content{
    width: 50%;
    color: #19B38A;
    padding:40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}
.panel-heading h1{
    color: #0B4737;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.panel{
    display: flex;
    height: 600px;
}
.panel-image{
    width: 30%;
}
.panel-content{
    width: 70%;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.our-products h1{
    color: #457A00;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px auto;
}

.panel-description{
    color: #19B38A;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.panel-more{
    color: #19B38A;
    margin-top: 20px;
}
.panel-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    z-index: 2;
}

.faq{
    background-color: #F8F8F7;
    padding: 70px 0;
}
.faq-grid{
    display: flex;
}
.faq-heading{
    margin: 10px auto;
    text-align: center;
    color: #0B4737;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    width: 50%;
}
.faq-questions{
    width: 50%;
}
.faq-question{
    width: 80%;
    padding: 25px 20px 25px 0;
    border-bottom: 1px solid #0B4737;
    color: #0B4737;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.faq-answer{
    display: none;
    width: inherit;
    padding: 25px 20px 0px 25px;
    font-size: 18px;
    color: #19B38A;
    font-family: 'Open Sans', sans-serif;
}
.faq-plus{
    float: right;
    font-size: 24px;
}
.more-faq{
    color: #19B38A;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 20px 0;
    display: block;
    text-decoration: none;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-family: 'Playfair Display', serif;
    grid-gap: 30px;
    padding: 70px;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
}
.footer-contact{
    margin: auto 0;
    text-align: center;
} 
.footer-contact p {
    margin: auto 0;
}
.footer-logo{
    text-align: center;
    color: #19B38A;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    margin: 0 auto;
}
.footer-logo img{
    display: block;
    margin: auto;
}
.logo{
    width: 200px;
}
.social-media{
    margin: 50px 0 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-media img{
    width: 30px;
}
.footer-address{
    margin: auto 0;
}
.footer-address p{
    margin: auto 0;
}
.policy-and-terms{
    font-size: 16px;
}
.map{
    height:400px;
    width:100%;
    background:url('assets/map.png')
}

@media only screen and (max-width: 1200px) {
    .products-grid{
        grid-gap: 30px 70px;
        padding: 0 30px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .navbar{
        padding: 0 30px;
    }
    .navbar-navs{
        padding: 17px;
        font-size: 15px;
    }
    .navbar .navbar-home{
        font-size: 20px;
    }
    .navbar-logo{
        height: 25px;
    }
    .products-grid{
        grid-gap: 30px 40px;
        padding: 0 20px;
    }
    .product-image {
        height: 300px;
    }
    .product h1{
        font-size: 22px;
        width: 75%;
    }
    .footer-grid{
        font-size: 20px;
        padding: 40px;
        line-height: 28px;
    }
    .logo{
        width: 180px;
    }
    .social-media{
        margin: 40px 0 25px 0;
    }
    .social-media img{
        width: 28px;
    }
    .policy-and-terms{
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 900px) {
    .navbar{
        padding: 0 20px;
    }
    .navbar-navs{
        padding: 16px;
        font-size: 14px;
    }
    .navbar .navbar-home{
        font-size: 18px;
    }
    .navbar-logo{
        height: 22px;
    }
    .products-grid{
        grid-gap: 30px 40px;
        padding: 0 20px;
    }
    .product-image {
        height: 300px;
    }
    .product h1{
        font-size: 22px;
        width: 75%;
    }
    .product-description{
        font-size: 16px;
        line-height: 24px;
    }
    .faq-heading{
        font-size: 18px;
        width: 50%;
    }
    .faq-questions{
        width: 50%;
    }
    .faq-question{
        padding: 20px 15px 20px 0;
        font-size: 16px;
    }
    .faq-answer{
        padding: 20px 15px 0px 20px;
        font-size: 16px;
    }
    .more-faq{
        font-size: 16px;
    }
    .footer-grid{
        font-size: 18px;
        padding: 30px;
        line-height: 25px;
    }
    .logo{
        width: 170px;
    }
    .social-media{
        margin: 35px 0 20px 0;
    }
    .social-media img{
        width: 26px;
    }
    .policy-and-terms{
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 800px) {
    .navbar{
        padding: 0 20px;
    }
    .navbar-navs{
        padding: 13px;
        font-size: 12px;
    }
    .navbar .navbar-home{
        font-size: 16px;
    }
    .navbar-logo{
        height: 20px;
    }
    .products-grid{
        grid-gap: 30px 20px;
        padding: 0 0px;
    }
    .product-image {
        height: 250px;
    }
    .product h1{
        font-size: 20px;
        width: 75%;
    }
    .product-description{
        font-size: 16px;
        line-height: 24px;
    }
    .buy-button{
        padding: 10px 15px;
        font-size: 14px;
    }
    .faq-heading{
        font-size: 14px;
        width: 50%;
    }
    .faq-questions{
        width: 50%;
    }
    .faq-question{
        width: 100%;
        padding: 20px 12px 17px 0;
        font-size: 14px;
    }
    .faq-answer{
        padding: 20px 12px 0px 17px;
        font-size: 14px;
    }
    .more-faq{
        font-size: 14px;
    }
    .footer-grid{
        font-size: 16px;
        padding: 20px;
        line-height: 20px;
    }
    .logo{
        width: 165px;
    }
    .social-media{
        margin: 35px 0 20px 0;
    }
    .social-media img{
        width: 25px;
    }
    .policy-and-terms{
        font-size: 12px;
    }
  }
  @media only screen and (max-width: 700px) {
    .navbar{
        padding: 0 10px;
    }
    .navbar-navs{
        padding: 10px;
        font-size: 10px;
    }
    .navbar .navbar-home{
        font-size: 13px;
    }
    .navbar-logo{
        height: 18px;
    }
    .products-grid{
        grid-gap: 30px 20px;
        padding: 0 0px;
    }
    .product-image {
        height: 220px;
    }
    .product h1{
        font-size: 18px;
        width: 75%;
    }
    .product-description{
        font-size: 14px;
        line-height: 24px;
    }
    .buy-button{
        padding: 7px 10px;
        font-size: 12px;
    }
    .faq-heading{
        font-size: 12px;
        width: 35%;
    }
    .faq-questions{
        width: 65%;
    }
    .footer-grid{
        font-size: 14px;
        padding: 20px;
    }
    .logo{
        width: 160px;
    }
    .social-media{
        margin: 35px 0 20px 0;
    }
    .social-media img{
        width: 24px;
    }
    .policy-and-terms{
        font-size: 10px;
    }
  }
  @media only screen and (max-width: 560px) {
    .header-button{
        padding: 12px 22px;
        font-size: 14px;
    }
    .navbar{
        padding: 0 0px;
    }
    .navbar-navs{
        padding: 8px;
        font-size: 9px;
    }
    .navbar .navbar-home{
        font-size: 10px;
    }
    .navbar-logo{
        height: 14px;
    }
    .products-grid{
        grid-gap: 20px 15px;
        padding: 0 0px;
    }
    .product-image {
        height: 220px;
    }
    .product h1{
        font-size: 17px;
        width: 75%;
    }
    .product-description{
        font-size: 12px;
        line-height: 20px;
    }
    .buy-button{
        padding: 7px 5px;
        font-size: 7px;
    }
    .footer-grid{
        font-size: 12px;
        padding: 10px;
    }
  }
  @media only screen and (max-width: 480px) {
    .mobile-navbar {
      display: flex;
    }
    .navbar{
        display: none;
    }
    .navbar-logo{
        height: 22px;
    }
    .our-products{
        padding: 0 30px;
    }
    .product-heading{
        width: 50%;
        font-size: 12px;
    }
    .product-heading h1{
        margin: auto;
    }
    .product-content{
        padding:20px;
        margin: auto;
        font-size: 10px;
    }
    .panel-image{
        width: 30%;
        display: none;
    }
    .panel-content{
        width: 100%;
        padding: 30px;
    }
    .panel{
        height: fit-content;
    }
    .panel-heading{
        font-size: 14px;
    }
    .panel-description{
        font-size: 14px;
        line-height: 22px;
    }
    .products-grid{
        margin: 30px auto;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 20px 15px;
        padding: 0 0px;
    }
    #buy-1,#buy-2,#buy-3,#buy-4,#buy-5,#buy-6{
        opacity: 1;
    }
    .faq-heading{
        width: 100vw;
    }
    .faq-questions{
        width: 100vw;
        padding:0 20px;
    }
    .faq-question{
        width: 100%;
    }
    .faq-grid{
       flex-direction: column;
    }
    .footer-grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        font-size: 14px;
    }
  }