*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    font-family: 'Playfair Display', serif;
    color:black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: white;
    padding: 0 40px;
    box-shadow: 0px 3px 7px #888888;
}
.navbar .navbar-home{
    float: left;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;

}
.navbar-navs{
    color: black;
    text-transform: uppercase;
    float: right;
    margin: 20px 20px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
.active{
    border-bottom: solid 2px black;
    margin-bottom: -2px;
    padding-bottom: 5px;
}
.our-products{
    margin-top: 100px;
    text-align: center;
    padding: 50px;
}
.title-grid{
    display: flex;
    margin-bottom: 50px;
}
.product-heading{
    width: 50%;
    padding:40px 0;
    text-align: center;
    border-right: 2px solid #0B4737;
}
.product-heading h1{
    margin: auto;
}
.product-content{
    width: 50%;
    color: #19B38A;
    padding:40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}
.panel-heading h1{
    color: #0B4737;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.panel{
    display: flex;
    height: 500px;
}
.panel-image{
    width: 30%;
}
.panel-content{
    width: 70%;
    padding: 100px;
}

.our-products h1{
    color: #457A00;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px auto;
}

.panel-description{
    color: #19B38A;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.panel-more{
    color: #19B38A;
    margin-top: 20px;
}
.panel-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    z-index: 2;
}

.faq{
    background-color: #F8F8F7;
    padding: 50px 0;
}
.faq-grid{
    display: flex;
}
.faq-heading{
    margin: 40px auto;
    text-align: center;
    color: #0B4737;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    width: 50%;
}
.faq-questions{
    width: 50%;
}
.faq-question{
    width: 80%;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #0B4737;
    color: #0B4737;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.faq-answer{
    display: none;
    width: inherit;
    padding: 20px 20px 0px 20px;
    color: #0B4737;
    font-family: 'Open Sans', sans-serif;
}
.faq-plus{
    float: right;
    font-size: 24px;
}
.more-faq{
    color: #19B38A;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 20px 0;
    display: block;
    text-decoration: none;
}
.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: 'Playfair Display', serif;
    padding: 70px;
    font-size: 22px;
}
.footer-contact{
    margin: auto;
}
.footer-logo{
    text-align: center;
    color: #19B38A;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}
.footer-logo img{
    display: block;
    margin: auto;
}
.logo{
    width: 200px;
}
.social-media{
    margin: 50px 0 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-media img{
    width: 30px;
}
.footer-address{
    margin: auto 0;
}
.map{
    height:400px;
    width:100%;
    background:url('assets/map.png')
}